/* Light theme */
body[data-theme="light"] {
  --accent: #222;
  --accent-bg: #f5f5f5;
  --accent-border: #ccc;
  --text-h: #111;
  --border: #ddd;
  background-color: #ffffff;
  color: #000;
}

/* Dark theme */
body[data-theme="dark"] {
  --accent: #fff;
  --accent-bg: #333;
  --accent-border: #888;
  --text-h: #fff;
  --border: #444;
  background-color: #121212;
  color: #fff;
}